<p id="notice"><%= notice %></p>

<p>
  <strong>Dni:</strong>
  <%= @employee.dni %>
</p>

<p>
  <strong>Ape pat:</strong>
  <%= @employee.ape_pat %>
</p>

<p>
  <strong>Ape mat:</strong>
  <%= @employee.ape_mat %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @employee.nombres %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @employee.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @employee.telefono %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @employee.correo %>
</p>

<p>
  <strong>Fec nacimiento:</strong>
  <%= @employee.fec_nacimiento %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @employee.estado %>
</p>

<p>
  <strong>Tip tra:</strong>
  <%= @employee.tip_tra %>
</p>

<p>
  <strong>Esta civil:</strong>
  <%= @employee.esta_civil %>
</p>

<p>
  <strong>Afp:</strong>
  <%= @employee.afp %>
</p>

<p>
  <strong>Admin user:</strong>
  <%= @employee.admin_user %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @employee.foto %>
</p>

<p>
  <strong>Ape nom:</strong>
  <%= @employee.ape_nom %>
</p>

<p>
  <strong>Correo corp:</strong>
  <%= @employee.correo_corp %>
</p>

<p>
  <strong>Fec inicon:</strong>
  <%= @employee.fec_inicon %>
</p>

<p>
  <strong>Fec tercon:</strong>
  <%= @employee.fec_tercon %>
</p>

<p>
  <strong>Grado:</strong>
  <%= @employee.grado %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @employee.cargo %>
</p>

<p>
  <strong>Area:</strong>
  <%= @employee.area %>
</p>

<p>
  <strong>Sele:</strong>
  <%= @employee.sele %>
</p>

<p>
  <strong>Remuneracion:</strong>
  <%= @employee.remuneracion %>
</p>

<p>
  <strong>Sele2:</strong>
  <%= @employee.sele2 %>
</p>

<p>
  <strong>Distrito:</strong>
  <%= @employee.distrito %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
